{% extends 'base.html' %}

{% block title %}Display Pet{% endblock %}

{% block content %}

<h1>Pet Information</h1>

{% for msg in get_flashed_messages() %}
  {{ msg }}
{% endfor %}


    <p> Pet Name: {{ pet.name }} </p>

    {% if pet.photo_url %}
      <img src="{{ pet.photo_url }}" alt="photo of {{ pet.name }}">
    {% endif %}

    <p> Age: {{ pet.age }} </p>

    <p> Species: {{ pet.species }} </p>


<h1>Edit Pet Information</h1>

<form method="POST">

  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}
    <p>
      {{ field.label }}
      {{ field }}

      {% for error in field.errors %}
        {{ error }}
      {% endfor %}
    </p>
  {% endfor %}

  <button type="submit">Submit</button>

</form>

{% endblock %}